<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94354689411-g5nd2j8ittj4teind0h4ffu8qedmtgmj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94354689411-g5nd2j8ittj4teind0h4ffu8qedmtgmj</string>
	<key>API_KEY</key>
	<string>AIzaSyDhUceWNS6dzdcuhlfORI7nrZEHVT1u7_w</string>
	<key>GCM_SENDER_ID</key>
	<string>94354689411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expensesApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-expenses-app-f477a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-expenses-app-f477a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94354689411:ios:1511a7bbbf1a9ef22dfab6</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-expenses-app-f477a-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>